@import "tailwindcss";

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  font-family: "Poppins", sans-serif;
  padding-top: 9vh;
}

::-webkit-scrollbar{
  display: none;
}